.container {
  margin-top: 15px;
}

.form-group {
  width: 500px;
}

.form-inline {
  display: block !important;
}

.btn {
  margin-right: 10px;
}

.spinner-border {
  margin-left: 10px;
}

.form-control {
  margin-right: 10px;
}
