<div class="container" align="center">
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="host" name="host" />
  </div>

  <div class="form-inline">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="startPinging()"
      *ngIf="!pinging"
    >
      <fa-icon [icon]="faPlay"></fa-icon>
      Start pinging!
    </button>
    <button
      type="submit"
      class="btn btn-warning"
      (click)="stopPinging()"
      *ngIf="pinging"
    >
      <fa-icon [icon]="faPause"></fa-icon>
      Pause pinging
    </button>

    <button
      type="submit"
      class="btn btn-danger"
      (click)="clearData()"
      [disabled]="pinging"
    >
      <fa-icon [icon]="faTrash"></fa-icon>
      Clear data
    </button>

    <select
      class="form-control"
      [(ngModel)]="interval"
      name="interval"
      title="Time between each ping"
    >
      <option [value]="1">1s</option>
      <option [value]="5">5s</option>
      <option [value]="10">10s</option>
      <option [value]="15">15s</option>
    </select>
  </div>

  <canvas
    baseChart
    [datasets]="chartData"
    [labels]="chartLabels"
    [chartType]="'line'"
  >
  </canvas>
  <div class="spinner-border" role="status" [hidden]="!pinging">
    <span class="sr-only">Loading...</span>
  </div>
  <div *ngIf="disconnected" class="alert alert-danger" role="alert">
    Cannot reach server...
  </div>
</div>
